# Keep env.example templates in Git
!.env.example
!*/env.example

# ───────────────────────────────────────────────────────────────────────
__pycache__/
pycache/
.venv/
# Ignore Python bytecode
*.pyc
*.pyo
*.so
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.db
*.sqlite
*.pem
*.crt
*.key
!traefik/htpasswd
*.htpasswd.local

# Local envs (ignore the real .env, but not the examples)
.env
.env.local

